<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script  th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <!--js文件引入顺序问题：首先引入jQuery，再引入自定义js。否则无法解析。-->
    <script  th:src="@{/js/user.js}"></script>
    <script  th:src="@{/js/bootstrap.js}"></script>
    <script  th:src="@{/js/bootstrapPage.js}"></script>

</head>

<body class="container">

<div id="app">

    <!--v-model与Vue中的属性绑定，实现双向绑定。ID更新后Vue中对应属性同时更新-->
    <!--<input type="text" name="ID" v-model="ID" placeholder="用户ID"><br>
    <button id="butGetUser">查询</button><br><br><br>-->
<!--<h1>{{ message }}</h1>-->
    <img alt="测试图片" th:src="@{/images/1.gif}" width="120" height="120"/>
    <br/>
    <h1>用户列表</h1>
    <br/><br/>
    <div class="with:80%">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>密码</th>
                <th>修改用户信息</th>
                <th>删除该用户</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="user : ${users}">
                <th scope="row" th:text="${user.ID}">1</th>
                <td th:text="${user.name}">neo</td>
                <td th:text="${user.password}">Otto</td>
                <td><button th:value="${user.ID}" @click="findUser($event)" class="btn btn-info btn-sm">编辑</button></td>
                <td><button th:value="${user.ID}" @click="delUser($event)" class="btn btn-danger btn-sm">删除</button></td>
                <!--<td><a th:href="@{/toEdit(ID=${user.ID})}">edit</a></td>-->
                <!--<td><a th:href="@{/user/delUser(ID=${user.ID})}">delete</a></td>-->

            </tr>
            </tbody>
        </table>


        <!--<table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>User Name</th>
                <th>Password</th>
                <th>###</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                &lt;!&ndash;user属性与Vue进行单向绑定，Vue中user更新后该user同时更新。&ndash;&gt;
                <th scope="row">{{ user.ID }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.password }}</td>
                <td><button v-on:click="delUser">删除该用户</button></td>

            </tr>
            </tbody>
        </table>-->

    </div>


    <div>
        <input id="userCount" hidden="hidden" th:value="${userCount}"></input>
        <script>
            var count = document.getElementById("userCount").value;
            document.write(Pager({
                totalCount:count, 		//总条数为150
                pageSize:3,    			//每页显示3条内容，默认10
                buttonSize:3,   		//显示size个按钮，默认10
                pageParam:'page',   	//页码的参数名为'p'，默认为'page'
                className:'pagination', //分页的样式
                prevButton:'上一页',     //上一页按钮
                nextButton:'下一页',     //下一页按钮
                firstButton:'首页',      //第一页按钮
                lastButton:'末页',       //最后一页按钮

            }));
            // document.write('url中page参数值为：'+Pager.getParam('page'));
            // document.write('替换Url中page参数值为3得到的地址：'+Pager.replaceUrl('pageSize',3));
        </script>
    </div>

    <div class="form-group">
        <div class="col-sm-2 control-label">
            <a href="/user/signup" th:href="@{/user/signup}" class="btn btn-primary">添加用户</a>
        </div>
    </div><br><br><br>


<!--===============================================================================================-->
    <!--v-model与Vue中的属性绑定，实现双向绑定。ID更新后Vue中对应属性同时更新-->
    <div class="form-group">
        <label for="userName" class="col-sm-2 control-label">userName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"  v-model="user.name"  placeholder="userName"/>
        </div>
    </div><br>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label" >Password</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" v-model="user.password"  placeholder="Password"/>
        </div>
    </div><br><br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="updateUser" class="btn btn-primary">修改用户信息</button>
        </div>
    </div><br><br><br><br><br><br>





</div>



</body>
</html>